.container {
  width: 70%;
  margin: auto;
  text-align: center;

}

.dice {
  text-align: center;
  display: inline-block;
}

.img{
  width: 300px;
  height: 300px;
  border-radius: 100%;
}




h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #7fffd4;
  font-size: 5rem;
  color:  #008080;
}

p {
  font-size: 2rem;
  color:    #cd5c5c;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #dc143c;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
